@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

:root {
  --text-color: #101720;
  --blue-color: #4088ff;

  --border-color: rgba(0, 0, 0, 0.2);
}

body {
  transition: background 0.2s ease;
  color: var(--text-color);
}

body.darkMode {
  background-color: var(--text-color);
  color: white;
  --border-color: rgba(255, 255, 255, 0.2);
}

body.darkMode > header {
  background-color: var(--text-color);
}

html {
  font-size: 16px;
  user-select: none;
}

header {
  width: 100%;
  top: 0;
  position: fixed;
  background-color: white;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1;
  transition: box-shadow 0.5s, background 0.2s ease;
}

.header-active {
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.darkMode.header-active {
  box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.9);
}

header > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: inherit;
}

header > div > h1 {
  text-transform: uppercase;
  color: #0d6efd;
}

header > div > section {
  display: flex;
  align-items: center;
  gap: 4rem;
}

header > div > section > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 3rem;
  width: 8rem;
  border-radius: 10px;
  background-color: #0d6efd;
}

header > div > section > button > a {
  color: white;
  text-decoration: none;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

header > div > section > nav > ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header > div > section > nav > ul > li {
  position: relative;
  font-size: 0.9rem;
  cursor: pointer;
}

header > div > section > nav > ul > li::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: var(--text-color);
  height: 2px;
  opacity: 0.8;
  width: 0;
  border-radius: 10px;
  transition: all 0.2s ease;
}

body.darkMode header > div > section > nav > ul > li::after {
  background-color: white;
}

header > div > section > nav > ul > li:hover::after {
  width: 100%;
}

/* Main */

main > section {
  display: flex;
  justify-content: space-around;
  padding: 0 3rem;
  align-items: center;
  max-width: 1255px;
  margin: 0 auto;
}

.home {
  gap: 2rem;
  height: 95dvh;
}

.home > div > h2 {
  margin-top: 20px;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: -1px;
  word-wrap: 100px;
  word-spacing: -1px;
  line-height: 65px;
  margin-bottom: 40px;
}

.title-page {
  position: relative;
}

.title-page::after {
  content: "";
  position: absolute;
  background-color: var(--blue-color);
  padding: 2rem;
  opacity: 0.2;
  border-radius: 100%;
  bottom: -10px;
  right: 130px;
}

.title-page::before {
  content: "";
  position: absolute;
  background-color: orange;
  opacity: 0.2;
  border-radius: 100%;
  padding: 2rem;
  top: 10px;
  left: -30px;
}

.home > div > p {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 20px;
}

.home > div > p > span {
  color: var(--blue-color);
}

.home > div > span {
  font-size: 1rem;
  font-weight: 600;
}

.home > div > span > img {
  height: 15px;
  transform: rotateZ(160deg);
}

.home > div > button {
  padding: 0.8rem 1.5rem;
  border: none;
  background-color: orange;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.home > div > h2 > span {
  color: red;
}

.home > figure {
  width: 100%;
  border-radius: 10px;
}

.home > figure > img {
  width: 100%;
  border-radius: inherit;
}

/* Features */

.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features-container > div > .features-header {
  text-align: center;
}

.features-container > div > .features-header > p {
  padding: 0.5rem 1rem;
  font-weight: 600;
  display: inline;
  color: green;
  background-color: rgba(0, 128, 0, 0.2);
  border-radius: 10px;
}

.features-container > div > .features-header > h3 {
  margin-top: 20px;
  font-size: 3rem;
}

.features-container > div > .features-header > hr {
  margin: 40px auto;
  width: 15%;
  height: 0.4rem;
  border: none;
  background-image: linear-gradient(to right, hotpink, blue);
  border-radius: 10px;
}

.featuresTools-container {
  margin-top: 5px;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.featuresTools-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  padding: 2rem;
  border-radius: 8px;
  border: 2px solid var(--border-color);
  transition: transform 0.2s ease;
}

.featuresTools-container > div:hover {
  transform: scale(1.1);
}

.featuresTools-container > div > h4 {
  font-size: 1.3rem;
  margin: 10px 0;
}
.featuresTools-container > div > p {
  text-align: center;
}

/* ToggleMode  */

.toggleMode-container {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.toggleMode-container > button {
  padding: 10px;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: none;
  position: fixed;
  bottom: 30px;
  left: 30px;
  background-color: var(--text-color);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

button > span {
  background: url("./assets/moon.svg") no-repeat top center/cover;
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
  transition: all 0.4s ease;
}

.toggleMode-container > button > .toggleModeSun {
  background: url("./assets/sun.svg") no-repeat top center/cover;
  width: 100%;
  height: 100%;
  transform: rotate(360deg);
  transition: all 0.4s ease;
}

@media screen and (width <= 900px) {
  .home figure {
    display: none;
  }
}
